@font-face{
    font-family: "old japanese";
    src: url('../fonts/Old_Japanese.otf') format("opentype");
}

@font-face{
    font-family: "japanese_2020";
    src: url('../fonts/JAPANESE_2020_ITALIC.otf') format("opentype");
}



#logoPag {
    font-family: japanese_2020;
}

p {
    font-family: old japanese;
}

nav {
    background-color: rgb(49, 49, 49);

}

#carousel1{
    height: 400px;
    background-color: rgb(49, 49, 49);
  }

.carousel-item > img{
    height: 50%;
    width: auto;
    margin: auto;
  } 
  